* {
    background-color: aqua;
}

#color-palette {
   width: 500px;
   height: 400px;
}

.pixel {
    background-color: white;
    border: 1px solid black;
    display: inline-block;
    width: 40px;
    height: 40px;
}

#pixel-board {
    display: inline-block;
}

#makeboard {
    
}
.selected {
    
}
.color {
    border: 1px solid black;
    display: inline-block;
    width: 100px;
    height: 80px;
}

#cor1 {
    background-color: black;
}
#cor2 {
    background-color: red;
}
#cor3 {
    background-color: green;
}
#cor4 {
    background-color: blue;
}
#corwhite {
    background-color: white;
}